@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Colours */

.color-name-title {
  background-color: #384E78;
  color: #FAF9F6;
}

/* Heading */

header {
  margin: 0;
}

.heading {
  margin-left: 50px;
}

.photo {
  background: url("../img/Mark-Castillo-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 260px;
  transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 110px;
}

/* Footer */

footer {
  min-height: 150px;
  background-color: #384E78;
}

.social-networks, #copyright {
  text-align: center;
  margin: auto;
  padding: 0%;
}

.social-networks li {
  display: inline-block;
}

.social-networks i {
  font-size: 250%;
  padding: 20px;
  color: #FAF9F6;
}




