@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
  box-sizing: border-box;
}

/* Colours */

.color-name-title {
  background-color: #474e5d;
  color: #FAF9F6;
}

.timeline-figure {
  background-color: #5874DC;
}

/* Heading */

header {
  margin: 0;
}

.heading {
  margin-left: 50px;
}

.photo {
  background: url("../img/Mark-Castillo-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 260px;
  transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 110px;
}

/* Left menus*/

.uppercase {
  text-transform: uppercase;
}

.about-me, 
.work-experience, 
.education,
.contact-me {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: #000;
  text-align: left;
}

.about-me:hover, 
.work-experience:hover, 
.education:hover,
.contact-me:hover {
  text-decoration: none;
  font-size: 18px;
}

/* More information on the right */

.more-information {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 40px;
  font-weight: 300;
}

/* Footer */

footer {
  min-height: 150px;
  background-color: #474e5d;
}

.social-networks {
  text-align: center;
  margin: auto;
  padding: 0%;
}

#copyright {
  color: #FAF9F6; 
  text-align: center;
}

.social-networks li {
  display: inline-block;
}

.social-networks i {
  font-size: 250%;
  padding: 20px;
  color: #FAF9F6;
}




