body {
    font-family: 'Oswald', sans-serif;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

img {
    width: 100%;
}

iframe {
	border: 1px solid black;
}

footer {
    height: 150px;
    background-color: #e9ecef;

  }
  .social-networks {
    text-align: center;
    background-color: #e9ecef;
  }
  .social-networks li {
    display: inline;
  }
  .social-networks i {
    font-size: 260%;
    margin: 1%;
    padding: 3%;
    color: #777;
  }

  #copyright {
    background-color: #e9ecef;
    text-align: center;
  }

  #customerReviews {
    margin-top: 10px;
    padding-top: 20px;
  }

.cover-image a {
  width: 300px;
  height: 200px;
  opacity: .5;
  bottom: 30px;
  right: 150px;
  position: absolute;
  margin: auto;
  display: inline;
}




  

  

